@import "tailwindcss";

.input-container {
  @apply mb-4 relative;
}

.input-container label {
  @apply text-sm h-6 font-semibold;
}

.icone-aux {
  @apply absolute right-4 mt-10 z-100 cursor-pointer;
}

.input-container select {
  /* Remove a seta no Chrome, Safari, Edge e versões novas do Firefox */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  /* Opcional: Remove a seta no Internet Explorer */
  &::-ms-expand {
    display: none;
  }
}

.input-default {
  @apply border border-neutral-300 p-4 rounded text-sm bg-white outline-none font-light;
}

.input-alert {
  @apply !border-red-500;
}

#password-assets {
  @apply flex flex-row justify-between items-center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield; /* Standard property for newer browsers */
}

.input-toggle {
  @apply !flex-row justify-between items-center;
}

.input-toggle-icon {
  @apply text-5xl cursor-pointer;
}

.input-toggle input {
  @apply hidden;
}

.input-toggle p {
  @apply text-xs;
}

.input-toggle-ativo {
  @apply !text-[var(--color-primaria)];
}