@import "tailwindcss";

.botao {
    @apply w-full font-medium text-white p-4 cursor-pointer select-none;
}

.botao-default {
    @apply bg-neutral-300;
}

.botao-primario {
    @apply transition-all duration-300;
    background-color: var(--color-primaria);
}

.botao-primario:hover {
  background-color: var(--color-primaria-escuro);
}

.botao-secundario {
    background-color: var(--color-secondaria);
}

.botao-block {
    @apply pointer-events-none bg-neutral-300 cursor-not-allowed;
}