@import "tailwindcss";

.botao {
    @apply w-full min-h-14 text-base font-medium text-white p-4 cursor-pointer select-none flex flex-row items-center justify-center leading-0;
}

.botao-default {
    @apply bg-neutral-300;
}

.botao-outline {
    @apply border-2 border-[var(--color-primaria)] text-[var(--color-primaria)];
}

.botao-primario {
    @apply transition-all duration-300;
    background-color: var(--color-primaria);
}

.botao-primario:hover {
    background-color: var(--color-primaria-escuro);
}

.botao-secundario {
    background-color: var(--color-secondaria);
}

.botao-cancelar {
    @apply bg-red-600;
}

.botao-block {
    @apply pointer-events-none bg-neutral-300 cursor-not-allowed;
}